.footer {
  border-top: 1px solid #E5E5E5;


  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 35px;
    padding-bottom: 30px;
    padding-top: 30px;
    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  &__info {
    flex: 0 0 auto;
    // max-width: 300px;
  }

  &__logo-link {

  }

  &__logo-img{
     display: block;
  }

  &__phone {
    margin: 20px 0px 20px 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    color: #404040;
    a{
      color: #404040;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-bottom: 27px;

  }

  &__social-icon{
    margin-right: 15px;
  }

  &__props {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #404040;
  }

  &__nav{
    // display: flex;
    // justify-content: space-between;
  }

  &__nav-list {
    // width: 320px;
    // max-width: 320px;

  }

  &__nav-list:not(:last-child) {
    margin-right: 37px;

  }

  &__nav-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #404040;
    &:hover{
      text-decoration: underline;
    }

  }

  &__copyright {
    border-top: 1px solid #E5E5E5;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &__copyright-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #404040;
    text-align: center;
    padding: 0px 275px 0px 275px;

    @media screen and (max-width: 768px) {
      padding: 0px 150px 0px 150px;
    }

    @media screen and (max-width: 576px) {
      padding: 0px;
    }
  }
}

