.index-news {
  margin-bottom: 60px;



  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas:
    "A B C C"
    "A D E F";

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      "A B F"
      "A D E"
      "C C C";
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "A B"
      "A C"
      "D D"
      "E F";
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E"
      "F";
    }
  }

  &__item:nth-child(1) {
     grid-area: A;

    .index-news__item-bg{
      position: relative;
      justify-content: flex-start;
    }

    .index-news__link{
      background: linear-gradient(15.37deg, #142840 5.12%, #1A467C 91.24%);
      border-radius: 5px;
    }

    .index-news__img{
      width: 300px;
      height: auto;
      transform: translateX(-20px);
    }
  }

  &__item:nth-child(2) {
    grid-area: B;
  }

  &__item:nth-child(3) {
  grid-area: C;
  }

  &__item:nth-child(4) {
    grid-area: D;
  }

  &__item:nth-child(5) {
    grid-area: E;
  }

  &__item:nth-child(6) {
    grid-area: F;
  }

  &__link {
    display: block;
    position: relative;
    color: #FFFFFF;
    height: 100%;
  }

  &__item-bg{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(1.56deg, #282828 3.05%, rgba(30, 30, 30, 0) 98.13%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__extra-title {
    display: block;
    width: 100%;
    padding: 50px 50px 0px 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
  }

  &__mini-title {
    display: block;
    width: 100%;
    padding: 20px 101px 80px 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }

  &__title-stat {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px;
  }

  &__img{
    display: block;
    width: 100%;
    height: 248px;
    object-fit: cover;
    border-radius: 5px;
  }
}

