.short-item{

  &__item {
    border-top: 1px solid #E5E5E5;
    padding: 27px 17px 27px 17px;
  }

  &__item-no-border{
     padding: 27px 17px 27px 17px;
  }

  &__img-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;

  }
  &__lt-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 1;
  }

  &__new {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #55BB9F;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 8px;
  }

  &__present {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #7FB1ED;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }

  &__lb-info {
    position: absolute;
    left: 0px;
    bottom: 10px;
    z-index: 1;
  }

  &__discount {
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    color: #FFFFFF;
    background: #FC443B;
    border-radius: 5px;
    padding: 5px;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    margin: 0 auto;
  }

  &__price {
    display: flex;
    align-items: center;
  }

  &__price-num {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #404040;
    margin-right: 10px;
  }

  &__price-s-num {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: #6E6E6E;
  }

  &__item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    min-height: 62px;
    color: #1E1E1E;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  &__item-link {
    color: #1E1E1E;
    &:hover{
      text-decoration: underline;
    }
  }

  &__item-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__item-rating {
    padding-right: 10px;
    display: flex;
    img{
      display: block;
      margin-left: 3px;
    }
  }

  &__item-comment {

  }

  &__comment-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    position: relative;
    padding-left: 25px;
    color: #6E6E6E



  }

  &__comment-link::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 2px;
    background-image: url(../img/messageIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }


  &__add-cart {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    background: #437FC8;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
  }

  &__add-cart-disable {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    background: #999999;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
  }

}
